.game {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        margin-top: 10px;
        font-size: xx-large;
        color: rgb(16, 71, 71);
    }

    &__viewPlayers {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        height: 95px;
    }

    &__turn {
        margin: 5px;
        font-size: 26px;
        font-weight: 600;
    }

    &__players {
        display: flex;
        gap: 10px;

        &_name {
            margin-top: 0px;
            padding: 5px;
            font-size: 20px;
            font-weight: 600;

            border-radius: 8px;
        }

        &_name_lead {
            margin-top: 0px;
            padding: 5px;
            font-size: 20px;
            font-weight: 600;

            border-radius: 8px;
            background-color: rgb(105, 199, 199);
        }

    }

    &__fild {
        width: 600px;
        height: 600px;

        display: grid;
        grid-template-columns: 200px 200px 200px;
        grid-template-rows: 200px 200px 200px;


        background-color: rgb(255, 255, 255);
        border: 4px solid rgb(62, 141, 194);
        border-radius: 8px;

        &_button {

            background-color: rgb(181, 246, 255);
            border: 1px solid rgb(62, 141, 194);
            font-size: 100px;
            color: rgb(43, 102, 141);

            &:hover {
                background-color: rgb(222, 248, 255);
            }
        }
    }

    &__clean {
        margin: 9px;
        height: 30px;

        background-color: rgb(62, 141, 194);

        font-size: 20px;
        font-weight: 550;
        color: aliceblue;

        border: none;
        border-radius: 8px;

        &:hover {
            background-color: rgb(118, 185, 230);
        }
    }

}